.main {
  background-color: #f5f6f7;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}
.cards {
  display: flex;
  flex-direction: column;
  padding: 80px 104px;
}
.cards__title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0px;
  color: #1a1b22;
  margin: 0 0 64px;
}
.cards__list {
  padding: 0;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, 400px);
}
