.header {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/background-img.svg");
  background-size: cover;
  background-position: center;
}

.articles-header {
  background: #fff;
}
@media screen and (max-width: 1050px) {
  .header {
    max-width: 1050px;
  }
}

@media screen and (max-width: 550px) {
  .header {
    max-width: 550px;
  }
}
