@font-face {
  src: url("../../vendor/fonts/roboto-slab-700.woff") format("woff");
  font-family: "Roboto Slab";
}
@font-face {
  font-family: "Roboto";
  src: url("../../vendor/fonts/roboto-500.woff") format("woff");
}

.header {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/background-image.jpg");
  background-size: cover;
  background-position: center;
  border: 1px solid #d1d2d6;
}

.articles-header {
  background: #fff;
}
