@font-face {
  font-family: "Roboto";
  src: url("../../vendor/fonts/roboto-400-regular.woff") format("woff");
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1232px;
  height: 80px;
  padding: 0 104px;
  background-color: #fff;
}
.footer__copywrite {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0px;
  color: #b6bcbf;
}
.footer__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-left: auto;
}
.footer__tripleten {
  margin-left: 40px;
}
.footer__github {
  margin-left: 40px;
}
.footer__facebook {
  margin-left: 24px;
}
.footer__website {
  text-decoration: none;
}
.footer__link {
  text-decoration: none;
}
.footer__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: 0px;
  text-align: center;
  color: #1a1b22;
}
.footer__icon {
  width: 24px;
  height: 24px;
}
